<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<%- include('_head.ejs') %>

    <body>
        <%- include('_navbar.ejs') %>

            <main>
                <%- content %>
            </main>

            <%- include('_footer.ejs') %>

    </body>

</html>