<div class="container">
    <footer class="py-3 my-4 sticky-bottom">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="/events/" class="nav-link px-2 text-muted">Events</a></li>
            <li class="nav-item"><a href="/gallery/" class="nav-link px-2 text-muted">Gallery</a></li>
        </ul>
        <p class="text-center text-muted mb-1">© 2023 DCU Karting Society</p>

        <ul class="nav justify-content-center pt-0">
            <li class="nav-item"><a href="https://www.instagram.com/dcu_karting/"
                    class="nav-link fs-3 px-3 text-muted"><i class="bi bi-instagram"></i></a></li>
            <li class="nav-item"><a href="https://discord.gg/x6ZUYrRdRj" class="nav-link fs-3 px-3 text-muted"><i
                        class="bi bi-discord"></i></a></li>
        </ul>

        <ul class="nav justify-content-center py-3 px-1">
            <li class="nav-item p-1"><img src="/img/actavo.png" alt="Actavo" width="auto" height="100"
                    class="d-inline-block align-text-middle" /></li>
            <li class="nav-item p-1"><img src="/img/bord_na_mona.png" width="auto" height="100"
                    class="d-inline-block align-text-middle" /></li>
            <li class="nav-item p-1"><img src="/img/stiles_events.png" width="auto" height="100"
                    class="d-inline-block align-text-middle bg-white" /></li>
            <li class="nav-item p-1"><img src="/img/baldoyle_print.png" width="auto" height="100"
                    class="d-inline-block align-text-middle" /></li>
            <li class="nav-item p-1"><img
                    src="http://www.carolancoachhire.ie/wp-content/uploads/2012/07/corolan_coaches_logo31.jpg"
                    width="auto" height="100" class="d-inline-block align-text-middle" /></li>
        </ul>

        <p class="text-center text-muted">Hosted with ❤️ on <a href="https://redbrick.dcu.ie/">Redbrick</a></p>
        <p class="text-center text-muted">Designed by <a href="https://github.com/DistroByte">distro</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</div>